# Node.js
node_modules/

# Next.js build directory
.next/

# Logs
logs/
*.log

# Environment variables
.env.local
.env.development
.env.test
.env.production

# macOS
.DS_Store

# Editor-specific files
.vscode/
.idea/

# Compiled output
out/
build/

# Dependency directories
package-lock.json
yarn.lock
